{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <h2>Annonces disponibles:</h2>

        {% for ad in ads %}
            {% if ad.resolved == 0 %}

                <div class="col col-sm-10 col-md-10 col-lg-12">
                    <section class="card">
                        <div class="img_left">


                        </div>
                        <div class="header bg-green">

                            <h2>
                                <a href="ads/{{ ad.id }}"> {{ ad.title }}</a>
                                <small>crée le  {{ ad.date | date("d/m/Y") }}</small>

                                <small>Lieu: {{ ad.location }} </small>
                                <small>Cette annonce est encore disponible :)</small>
                            </h2>
                        </div>
                        <div class="body">
                            {{ ad.description }}

                        </div>
                        <div class="card-footer container">
                        </div>
                    </section>
                </div>

            {% endif %}

        {% endfor %}
    <h2>Annonces plus disponibles:</h2>
        {% for ad in ads %}
            {% if ad.resolved == 1 %}

                <div class="col col-sm-6 col-md-6 col-lg-4">
                    <section class="card">
                        <div class="header bg-red">
                            <h2>
                                <a href="ads/{{ ad.id }}"> {{ ad.title }}</a>
                                <small>crée le  {{ ad.date | date("d/m/Y") }}</small>
                                <small>Lieu: {{ ad.location }} </small>
                                <small>Cette annonce n'est plus disponible :(</small>
                            </h2>
                        </div>
                        <div class="body">
                            <p>{{ ad.description }} .</p>
                        </div>
                        <div class="card-footer container">
                        </div>
                    </section>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
