{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <p>Annonces disponibles :</p>
    <div class="row">
        {% for ad in ads %}
            {% if ad.resolved == 0 %}
                <div class="col col-sm-6 col-md-6 col-lg-4">
                    <section class="card">
                        <div class="header bg-green">
                            <h2>
                                {{ ad.title }}
                                <small>crée le  {{ ad.date | date("d/m/Y") }}</small>
                                <small>Lieu: {{ ad.location }} </small>
                                <small>Cette annonce est encore disponible :)</small>
                            </h2>
                        </div>
                        <div class="body">
                            {{ ad.description }}

                        </div>
                        <div class="card-footer container">
                        </div>
                    </section>
                </div>
            {% else %}

                <div class="col col-sm-6 col-md-6 col-lg-4">
                    <section class="card">
                        <div class="header bg-red">
                            <h2>
                                {{ ad.title }}
                                <small>crée le  {{ ad.date | date("d/m/Y") }}</small>
                                <small>Lieu: {{ ad.location }} </small>
                                <small>Cette annonce n'est plus disponible :(</small>
                            </h2>
                        </div>
                        <div class="body">
                            <p>{{ ad.description }} .</p>
                        </div>
                        <div class="card-footer container">
                        </div>
                    </section>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
